.orange-btn {
	padding: 10px;
	border-radius: 4px;
	background-color: rgb(255, 0, 0);
	color: azure;
	text-decoration: none;
	border: 1px solid darkslategray;
}

.orange-btn:hover {
	background-color: firebrick;
}

body {
	margin: 30px;
}
